@import '../../../../../projects/fish-ui/src/styles/fish-styles/all.scss';

.loading-container {
  min-height: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
