.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: help;
  }

  p {
    font-family:fantasy;
    font-size:x-large;
    font-weight: bolder;
    color: rgb(245, 17, 17);
    text-align: center;


  }