<fish-card 
  class="pokemon-card"
  elevation="small" 
  padding="medium" 
  [hoverable]="true"
  [clickable]="true"
  (click)="onCardClick()">
    
  <div class="pokemon-number has-text-gray is-size-7 has-text-weight-semibold">
    {{ formatPokemonNumber(pokemon().id) }}
  </div>
  
  <div class="pokemon-image-container has-text-centered has-margin-bottom-2">
    <img 
      [src]="pokemon().sprites.front_default" 
      [alt]="pokemon().name"
      class="pokemon-image"
      loading="lazy">
  </div>

  <h3 class="pokemon-name has-text-centered is-size-5 has-text-weight-semibold has-margin-bottom-2">
    {{ capitalizeName(pokemon().name) }}
  </h3>

  <div class="pokemon-types has-text-centered">
    @for (type of pokemon().types; track type.type.name) {
      <fish-badge 
        variant="custom"
        size="small"
        [rounded]="true"
        [customColor]="getTypeColor(type.type.name)"
        class="type-badge">
        {{ capitalizeName(type.type.name) }}
      </fish-badge>
    }
  </div>
</fish-card>
