@import '../variables/all';
@import '../mixins/all';

// Float

.is-clearfix {
  @include clearfix;
}

.is-pulled-left {
  float: left !important;
}

.is-pulled-right {
  float: right !important;
}

// Overflow

.is-clipped {
  overflow: hidden !important;
}

.is-not-clipped {
  overflow: visible !important;
}

// Misc

.is-radiusless {
  border-radius: 0 !important;
}

.is-shadowless {
  box-shadow: none !important;
}

.is-100vh {
    height: 100vh;
}
