.is-relative {
  position: relative !important;
}

.push-right {
  margin: auto 0 auto auto;
}

.push-left {
  margin: auto auto auto 0;
}

.is-flex-centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}