<div class="pokemon-stats">
  <div class="stats-grid">
    @for (stat of pokemon().stats; track stat.stat.id) {
      <div class="stat-item">
        <div class="stat-name is-size-6 has-text-weight-semibold has-text-gray-dark">
          {{ stat.stat.displayName }}
        </div>
        <div class="stat-value is-size-5 has-text-weight-bold has-text-primary">
          {{ stat.baseStat }}
        </div>
        <div class="stat-bar">
          <div 
            class="stat-bar-fill" 
            [style.width.%]="getStatPercentage(stat.baseStat)">
          </div>
        </div>
      </div>
    }
  </div>
</div>
